<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center;">
  <h2 class="title">
    {{ title }}
  </h2>
  <p class="remain">
    {{ remainedString }}
  </p>
  <form>
    <div class="form-group">
      <input type="text" style="width: 10em" id="titleInput" value="{{ title }}" #titleInput required>
      ||
      <input type="text" style="width: 2em" id="minInput" #minInput>
      :
      <input type="text" style="width: 2em" id="secInput" #secInput required>
      <button type="submit"
              (click)="setNewTime(minInput.value, secInput.value);setTitle(titleInput.value);minInput.value='';secInput.value='';">Set
      </button>
    </div>
  </form>
  <button (click)="windowOpen(); ">A new Window open</button>
  <button (click)="beepCount = 0; ">Beep off</button>
  <p>
    {{ now | async | date:'yyyy/MM/dd HH:mm:ss' }}
  </p>
</div>
